Flask
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-WTF
itsdangerous
PyJWT
requests
SQLAlchemy
SQLAlchemy-Utils
uWSGI
wheel
WTForms
pymysql
python-dateutil
pysocks
scikit-learn
numpy
pandas
matplotlib
quandl
pystan
pytrends
prophet